body {
    background: #20262E;
    padding: 20px;
    font-family: sans-serif;
  }
  #app {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
    text-align: center;
  }
  #logo {
    width: 100px;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  h1, h2 {
    font-weight: normal;
    margin-bottom: 15px;
  }
  a {
    color: #42b983;
  }
  img {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }